<div class="row">
  <div class="col-lg-20">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Ata adı</th>
            <th>FIN</th>
            <th>E-mail</th>
            <th>Herbi mukellefiyyeti</th>
            <th>Status</th>
            <th>Ünvan</th>
            <th>IDcv</th>
            <th></th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let person of persons" >
            <td>{{person.id || '-------'}}</td>
            <td>{{person.name || '-------'}}</td>
            <td>{{person.surname || '-------'}}</td>
            <td>{{person.fathername || '-------'}}</td>
            <td>{{person.fin || '-------'}}</td>
            <td>{{person.email || '-------'}}</td>
            <td>{{person.militarystate || '-------'}}</td>
            <td>{{person.status|| '-------'}}</td>
            <td>{{person.address || '-------'}}</td>
            <td>
              <button class="btn btn-success"><i class="fa fa-download" style="background-color: blueviolet"></i>Yüklə</button>
<!--              <button class="btn btn-info" data-toggle="modal">-->
<!--                {{person.idcv!.id || '-&#45;&#45;&#45;&#45;&#45;&#45;'}}-->
<!--              </button>-->
            </td>
            <td style="width:5px">

<!--              <input type="hidden" name="id" value="<%=u.getId()%>"/>-->
<!--              <input type="hidden" name="action" value="delete"/>-->
              <button class="btn btn-danger" data-toggle="modal">
                Sil
<!--                <i class="fas fa-trash-alt">Sil</i>-->
              </button>
            </td>
            <td style="width:5px">
<!--              <form action="userdetail" method="GET">-->
<!--                <input type="hidden" name="id" value="<%=u.getId()%>"/>-->
<!--                <input type="hidden" name="action" value="update"/>-->
                <button class="btn btn-warning"  type="submit" value="update"  (click)="openUpdateCardModal(person)">
<!--                  <i class="fas fa-pen-square">Duzelis</i>-->
                  Duzelis
                </button>
<!--              </form>-->
            </td>
<!--            <td style="alignment: right">-->
<!--              <div>-->
<!--                <button mat-flat-button color="warn" (click)="deletePerson(person)">Sil</button>-->
<!--                <button mat-flat-button color="primary" (click)="openUpdateCardModal(person)">Duzelis</button>-->
<!--              </div>-->
<!--            </td>-->

          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

