<div class="row">
  <div class="col-lg-20">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Ata adı</th>
            <th>E-mail</th>
            <th>H/M</th>
            <th>Deyerləndirilib</th>
            <th>Ünvan</th>
            <th>CV</th>
            <th></th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let person of persons">

            <td>{{person.id || '-------'}}</td>
            <td>{{person.name || '-------'}}</td>
            <td>{{person.surname || '-------'}}</td>
            <td>{{person.fathername || '-------'}}</td>
            <td>{{person.email || '-------'}}</td>
            <td>{{person.militarystate? 'var' : 'yoxdur'|| '-------'}}</td>
            <td>{{person.status ? 'müsbət' : 'mənfi' || '-------'}}</td>
            <td>{{person.address || '-------'}}</td>
            <td>
              <button class="btn btn-success" (click)="downloadCV(person)" ><i class="fa fa-download" style="background-color: blueviolet"></i>Yüklə</button>
            </td>
            <td style="width:5px">
              <button class="btn btn-danger" data-toggle="modal" (click)="deletePerson(person)">
                Sil
              </button>
            </td>
            <td style="width:5px">
                <button class="btn btn-warning"  type="submit" value="update"  (click)="openUpdateCardModal(person)">
                  Duzelis
                </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

