<div class="row">
  <div class="col-lg-20">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Ata adı</th>
            <th>FIN</th>
            <th>E-mail</th>
            <th>Herbi mukellefiyyeti</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let person of persons" >
            <td>{{person.id || '-------'}}</td>
            <td>{{person.name || '-------'}}</td>
            <td>{{person.surname || '-------'}}</td>
            <td>{{person.fathername || '-------'}}</td>
            <td>{{person.fin || '-------'}}</td>
            <td>{{person.email || '-------'}}</td>
            <td>{{person.militarystate || '-------'}}</td>
            <td>{{person.status|| '-------'}}</td>
            <button mat-flat-button color="primary" (click)="openUpdateCardModal(person)" style="right: -80px">Duzelis</button>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

