<header class="header">
  <mat-toolbar color="primary">
    <span>CV Qeydiyyat</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Əsas Səhifə</a>
      </li>
<!--      <li>-->
<!--        <a routerLink="/about" routerLinkActive="active">Haqqında</a>-->
<!--      </li>-->
      <li>
<!--        {{pS.getPerson()}}-->
        <a routerLink="/resumes" routerLinkActive="active">Şəxslər</a>
      </li>
    </ul>
  </mat-toolbar>
</header>
