<!--<mat-card class="card-item">-->
<!--  <mat-card-header (click)="openUpdateCardModal(person)">-->
<!--    <mat-card-title>{{ person.name || '-' }}</mat-card-title>-->
<!--    <mat-card-subtitle>{{ person.email }}</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <ul class="list-group list-group-flush">-->
<!--      <li class="list-group-item">{{ person.fin }}</li>-->
<!--      <li class="list-group-item">-->
<!--        <span *ngIf="person.email">{{ person.email }}</span>-->
<!--        <small class="text-warning" *ngIf="!person.email">E-poct</small>-->
<!--      </li>-->
<!--      <li class="list-group-item">-->
<!--        <span *ngIf="person.email">{{ person.email }}</span>-->
<!--        <small class="text-warning" *ngIf="!person.militarystage"></small>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
